/*********************************************************************/
/***** BEGIN DESIGN TOOLS THEME IMPORT & CUSTOMIZATION  **************/
/*********************************************************************/
/* Import statements need to be at the top of your CSS file */
/* For Main CSS file */
@import url(https://designtools.ciditools.com/css/themes.css);
/* For Mobile app CSS file */
/*@import url(https://designtools.ciditools.com/css/app.css);*/
/* Institution color customizations */
@import url(https://designtools.ciditools.com/css/inst_theme_overrides.css);
/* Theme Colors */
:root {
  --dt-color-primary: #182B49;
  --dt-color-primary-contrast: #FFFFFF;
  --dt-color-primary-dark-text: #182B49;
  --dt-color-secondary: #FFCD00;
  --dt-color-secondary-contrast: #000000;
  --dt-color-secondary-dark-text: #006A96;
  --dt-color-accent: #C69214;
  --dt-color-accent-contrast: #000000;
  --dt-color-graybg: #E6E6E6;
  --dt-color-graybg-contrast: #000000;
}
/*********************************************************************/
/***** END DESIGN TOOLS HEME IMPORT & CUSTOMIZATION   ****************/
/*********************************************************************/
@charset "utf-8";
/* CSS Document */

/*header look*/
.ic-app-nav-toggle-and-crumbs {
background-image: url('https://edtech.ucsd.edu/_images/geisel-at-night-hr.jpg');
  background-position: calc(50% + 100px) 1350px; opacity: .95
;}
nav#breadcrumbs {background-color: transparent;}
button#courseMenuToggle.Button {color: white}
.ic-app-crumbs {color: white;}
#breadcrumbs>ul>li+li:last-of-type a { color: rgba(255,255,255,.9);}
#breadcrumbs a {color: #FFCD00;}

/*eliminating Let students self-enroll by sharing with them a secret URL
 from settings*/
form input#course_self_enrollment.self_enrollment_checkbox { visibility: hidden; }
label[for="course_self_enrollment"] { visibility: hidden; }

/*eliminating Add a "Join this Course" link to the course home page*/
form input#course_open_enrollment { visibility: hidden; }
label[for="course_open_enrollment"] { visibility: hidden; }

/*eliminating This course has enabled open enrollment. Students can self-enroll in the course once you share with them this URL*/
form span.self_enrollment_message { visibility: hidden; }


